<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
    <servlet-name>PW1 Aula 05</servlet-name>
    <servlet-class>br.edu.ifpb.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PW1 Aula 05</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>  

<!--
<servlet>
    <servlet-name>PW1 Aula 05</servlet-name>
    <servlet-class>br.edu.ifpb.Somar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PW1 Aula 05</servlet-name>
    <url-pattern>/calcularsoma</url-pattern>
  </servlet-mapping>
-->
</web-app>
